src/Client/Service References/Client/DeveloperActivityService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ChadwickSoftware.DeveloperAchievements.Website.Services.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChadwickSoftware.DeveloperAchievements.Website.Services.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:42845/Services/DeveloperActivityService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LogDeveloperActivityRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activities" nillable="true" type="tns:ArrayOfActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogDeveloperActivityRequest" nillable="true" type="tns:LogDeveloperActivityRequest" />
  <xs:complexType name="ArrayOfActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Activity" nillable="true" type="tns:Activity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivity" nillable="true" type="tns:ArrayOfActivity" />
  <xs:complexType name="Activity">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ActivityParameters" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="ActivityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Activity" nillable="true" type="tns:Activity" />
  <xs:complexType name="LogDeveloperActivityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityResults" nillable="true" type="tns:ArrayOfActivityResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogDeveloperActivityResponse" nillable="true" type="tns:LogDeveloperActivityResponse" />
  <xs:complexType name="ArrayOfActivityResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActivityResult" nillable="true" type="tns:ActivityResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivityResult" nillable="true" type="tns:ArrayOfActivityResult" />
  <xs:complexType name="ActivityResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AwardedAchievementCount" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AwardedAchievements" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Developer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivityResult" nillable="true" type="tns:ActivityResult" />
</xs:schema>